*.iml
.gradle
/local.properties
.idea
.kotlin
**/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/values/secrets.xml
/app/google-services.json
/app/schemas
/app/release
/keystore.properties
